{% extends "base.html" %}

{% block title %}<title>Pylyre</title>{% endblock %}

{% block body %}

{% if isAdded == True: %}
    <div class="alert alert-warning" role="alert">
        {{ albums[0][6] }} was added to your favorites.
    </div>
{% elif isAdded == False: %}
    <div class="alert alert-dark" role="alert">
        {{ albums[0][6] }} was deleted of your favorites.
    </div>
{% else: %}
    {{ super() }}
{% endif %}

{% if id_artist > 0 %}
    <div id=artistInfo>
        <img src="{{ albums[0][7] }}" alt="artistCoverArt" class="coverArt">
        <h3 id="artistName">{{ albums[0][6] }}</h3> 
        <a href="{{ url_for('add_favartist', id=id_artist) }}">
            <img src="{{ url_for('static', filename='/img/iconLike_default.png') }}" alt="btnAlbumFav" id="btnAlbumFav">
        </a>
    </div>
{% endif %}

{% for album in albums %}

    <div class="navBoxSecondItem" style="background-image: url('{{ album[3] }}');background-size: cover;""><a href="{{ url_for('album_selected', albumId=album[0]) }}" class="secondItemLink"></a></div>

{% endfor %}

{% endblock %}