{% extends "base.html" %}

{% block title %}<title>Pylyre</title>{% endblock %}

{% block body %}

<div id="navBox">
    <div class="navBoxItem" id="navboxItemAlbums"><a href="/albums_page" class="navBoxItemLink"><span id="navBoxItemTitle">ALBUMS</span></a></div>
    <div class="navBoxItem"><a href="/tracks_page" class="navBoxItemLink"><span id="navBoxItemTitle">TRACKS</span></a></div>
    <div class="navBoxItem"><a href="/artists_page" class="navBoxItemLink"><span id="navBoxItemTitle">ARTISTS</span></a></div>
</div>

{% endblock %}