{% extends "base.html" %}

{% block title %}<title>Pylyre</title>{% endblock %}

{% block body %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.5/waves.min.css">
    <link rel="stylesheet" href="https://michael-zhigulin.github.io/mz-codepen-projects/Material%20Design%20UI%20Audio%20Player/font/font.css">

    <div id="navBox">
        <div class="navBoxItem"><a href="{{ url_for('albums_page', id_artist=0) }}" class="navBoxItemLink"><span id="navBoxItemTitle">ALBUMS</span></a></div>
        <div class="navBoxItem"><a href="/tracks_page" class="navBoxItemLink"><span id="navBoxItemTitle">TRACKS</span></a></div>
        <div class="navBoxItem"><a href="/artists_page" class="navBoxItemLink"><span id="navBoxItemTitle">ARTISTS</span></a></div>
    </div>

    {% for track in dateTracks %}
        {% if  track[0] not in TrackLikes and track[6] > session["user"][6] %}
            <a href="{{ url_for('album_selected', albumId=track[11]) }}" class="notificationElement">{{ track[9]}} - {{ track[3] }}</a>
        {% endif %}  
    {% endfor %}            
        
{% endblock %}
