#navbarLogo {
    width: auto;
    height: 30px;
}

#mainLogo {
    display: block;
    width: auto;
    height: 20em;

    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

#logoSignUp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#btnlogOut {
    display: block;
    right: 0px;  
}

#userNav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.userNavElement {
    letter-spacing: 10px;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    color: black;
    font-family: 'GFS Neohellenic', sans-serif;
    font-style: normal;
    font-weight: bold;
    transition: color 0.25s;
}

.userNavElement:hover {
    text-decoration: none;
    color: darkgoldenrod;
}

.container {
    border-radius: 5%;
    width: 45%;
    margin: 2% auto;

    padding: 20px 40px 20px 40px;

    background-color: #f4f6f7;
}

.alert {
    text-align: center;
    margin:3% auto;
    width: 45%;
}
